html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.timer-container {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  font-size: 4rem;
  background-image: url("./res/firefly1.webp");
  background-size: cover;
  color: black;
  background-position: center;
}
.holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.4);
  height: max-content;
  padding: 2rem;
}
.time {
  height: max-content;
  width: max-content;
}
h1 {
  font-size: 6rem;
}

.holder > p {
  font-size: 2rem;
  margin: 0;
  width: max-content;
}
html {
  background-color: black;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: Kalam;
  font-size: 2rem;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}
footer > a {
  text-decoration: none;
  color: black;
  font-family: Kalam;
  font-size: 1.3rem;
}
footer > a:hover {
  text-decoration: none;
  color: rebeccapurple;
  font-family: Kalam;
}

footer > img {
  height: 2rem;
  width: 2rem;
  padding: 0.4rem;
}

footer > img:hover {
  cursor: pointer;
}
